body {
    margin: 0;
    padding: 40px 0;
    background-color: #DFDEDA;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin: 0;
}

.link::before, .link::after, .link__inner::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 10px;
    background: #E5E4DB;
    transform: skewX(-25deg);
    top: 0;
    right: -20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.link::after {
    background: #EAE9E1;
    right: -36px;
}

.link__inner::after{
    background-color: #DFDEDA;
    transform: skewX(-25deg);
    right: -4px;
    box-shadow: none;
}

.main-header__wrapper {
    background-color: #F3F3F3;
    padding: 10px 20px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);   
}

.main-header, .nav__list, .user-nav {
    display: flex;
    align-items: center; 
}

.main-header {
    max-width: 1690px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    color: #2A2A2A; 
}

.logo {
    margin-right: auto;
}

.main-header ul li {
    margin: 0 20px;
}

.nav {
    border-right: 2px solid #ccc;
}

.nav__link--active {
    color: #DC1919;
}

.nav a {
    text-transform: uppercase;
    transition: color .2s ease-in-out;
}

.nav a:hover {
    color: #DC1919;
};
}

li.weather {
    /* display: flex;
    align-items: cetner; */
}
.weather img {
    margin-right: 5px;
}

.weather b {
    font-weight: normal;
    position: relative;
}

.weather b::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 3px;
    border: 1px solid #000;
    border-radius: 50%;
    top: 2px;
    right: -7px;
}

.user-nav button {
    font-size: 0;
    border: 0;
    background-color: transparent;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url("../img/search.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translateY(-2px);
}

.user-nav button:hover {
    animation: search 1s ease-in;
}

@keyframes search {
    from, to { transform: translateY(-2px); }
    40%, 60% { transform: translateY(-4px) }
    50% { transform: translateY(-2px) } 
}

.user-nav__subscribe {
    display: inline-block;
    background-color: #DFDEDA;
    padding: .5em 1em;
}

.user-nav__subscribe:hover {
    background-color: #ccc;
}

.main-container {
    background-color: #F3F3F3;
    max-width: 1620px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    padding-left: 0;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        'articals slider slider slider'
        'articals news news news'
        'articals discuss discuss read'
        'articals b b read'
        'articals c c c';
    grid-gap: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.articals {
    grid-area: articals;
    position: relative;
}

.articals>time {
    font-size: 16px;
    color: #353535;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 40px;
}

.artical__list {
    padding-left: 40px;
    position: relative;

}

.artical__list::before {
    content: '';
    height: 120%;
    width: 1px;
    position: absolute;
    display: block;
    background-color: #030303;
    bottom: 0;
    left: 20px;
}

.artical__list li {
    max-width: 360px;
    margin-bottom: 20px;
    display: inline-block;
}

.artical__list li:last-child {
    margin-bottom: 0;
}

.artical__list img {
    float: left;
    margin-right: 5px;
}

.artical__list time {
    font-weight: 300;
    font-size: 16px;
    color: #303030;
    position: relative;
}

.artical__list time::before {
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #303030;
    background-color: #F3F3F3;
    top: -1px;
    left: -30px;
    z-index: 2;
}

.artical__list h3 {
    font-weight: 600;
    font-size: 18px;
    color: #0D0D0D;
    margin-bottom: .7em;
}

.artical__list p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
}

a.artical__link {
    left: 20px;
    bottom: 0;
    width: 273px;
    height: 40px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
}

a.artical__link::before,
a.artical__link::after,
a.artical__link .link__inner::after {
    width: 22px;
    right: -42px;
}

a.artical__link::after {
    right: -75px;
}

a.artical__link .link__inner::after {
    right: -9px;
}

/*_______________slider_______________*/
.slider {
    grid-area: slider;
    background-color: #DFDEDA;
    position: relative;
}

.slider__item blockquote {
    font-size: 45px;
    width: 55%;
    position: absolute;
    top: 20%;
    right: 0;
    font-family: 'Sawarabi Mincho', sans-serif;

}

.slider__item span {
    display: block;
    font-size: 30px;
    text-align: right;
    margin-top: 20px;
    padding-right: 20%;
}

.slider__pagination {
    position: absolute;
    bottom: 0;
    right: 10px;
    display: flex;
    font-size: 0;
    height: 20px;
    transform: skewX(-25deg) translateY(30%) 
}

.slider__pagination li {
    background-color: #EBEAE4;
    margin: 0 3px;
    width: 10px;
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    transition: height .5s ease;
}

li.slider__pagination--active {
    background-color: #000;
    height: 30%;
    align-self: end;
    transition: height .5s ease;
}

/*_______________news_______________*/
.news {
    grid-area: news;
}

.news__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.news__content {
    display: flex;
    position: relative;
    background-color: #DFDEDA;
}

.news__content figcaption {
    padding: 10px;
    padding-bottom: 30px;
    background-color: #DFDEDA;
    font-size: 18px;
    font-weight: 600;
    width: 50%;
}

.news__content p {
    width: 50%;
    margin: 0;
    overflow: hidden;
}

.news__content img {
    margin-left: -10px;
    margin-bottom: -3px
}

.news__content time {
    position: absolute;
    font-size: 12px;
    font-weight: 300;
    bottom: 10px;
    right: 10px;
}

/*_______________discuss_______________*/
.discuss {
   grid-area: discuss;
   display: grid;
   grid-template-columns: 220px 320px auto;
   grid-gap: 20px;
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   color: #0D0D0D;
}

.stock, .live-disc, .block-empty {
   background-color: #F2F1F0;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   padding: 10px;
   position: relative;
}

.stock__list li {
    min-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #747474;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stock__up {
    color: #2A8538;
}

.stock__up::before {
    content: '+';
}

.stock__up::after {
    content: '\2191';
    font-size: 20px;
}

.stock p {
    font-size: 9px;
    color: #747474;
    text-align: right;
    padding-right: 15px;
}

/* ___live-discussions___*/

.live-disc__title {
    margin-top: 0;
    position: relative;
    font-weight: 500;
}

.live-disc__title::before {
   content: '';
   width: 30px;
   height: 3px;
   background-color: #737373;
   position: absolute;
   bottom: -5px;
}

.live-disc__list li {
    min-height: 40px;
}

.block-empty {
    width: auto;
    height: auto;
}

.link {
    position: absolute;
    display: inline-block;
    width: 136px;
    height: 20px;
    bottom: -10px;
    right: 45px;
    background-color: #DFDEDA;
    font-weight: 500;
    padding-left: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

/*_______________read_______________*/
.read {
    grid-area: read;
    padding: 10px;
    background: #F2F1F0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.read__title {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: #111;
}

.read__item {
    display: grid;
    grid-template-columns: 40px auto 70px;
    grid-gap: 10px;
    align-items: center;
    color: #1A1A1A;
    border-top: 0.5px solid #303030;
    padding: 10px 0;
}

.read__item span {
    font-size: 24px;
    font-weight: 500;
    justify-self: center;
}

.read__item p {
    font-size: 14px;
}

/*_______________middle-size block_______________*/
.middle-block {
    grid-area: b;
    width: auto;
    min-height: 310px;
    background-color: #DFDEDA;
}

/*_______________big-size block_______________*/
.big-block {
    grid-area: c;
    width: auto;
    min-height: 350px;
    background-color: #C4C4C4;
}

/*_______________fotter_______________*/
.main-footer {
    grid-area: fotter;
    padding: 20px 40px 10px;
    background-color: #F3F3F3;
    width: auto;
    min-height: 340px;
    max-width: 1620px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);   
}
